@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

/*general*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F292F;
}

h1, h2, h3, h4, p, i {
    color: #cccccc;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.green-button{
    background-color: #14A098;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.pink-button{
    background-color: #cb2d6f;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.pink-button:hover {
    background-color: #ff3c8d !important;
}

/* forms */ 

input {
    color: #cccccc;
}

.materialize-textarea {
    color: #cccccc;
}

.caret {
    fill: #cccccc !important;
}

/* title card */ 

.title-card {
    background-color: #501f3a;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    color: #cccccc !important;
}

.inline-elements {
    display: inline-block !important;
}

/* navbar */ 

.nav-wrapper{
    background-color: #14A098;
    padding-left: 1rem;
}

.sidenav {
    background-color: #14A098;
}

.brand-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #cccccc !important;
}

.nav-links {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

/* Log In */ 

.login-card {
    background-color: #501f3a;
}

/* register */

.register-card {
    background-color: #501f3a;
}

/* profile */ 

.profile-card {
    margin-top: 3rem;
    padding-top: 1rem;
    background-color: #501f3a;
}

.profile-card img, p {
    padding-top: 10px;
}

.profile-card img {
    border-radius: 50%;
}

.profile-card h2 {
    text-transform: capitalize;
}

.edit-button {
    margin: 30px 0 20px 0;
} 

.title-buttons {
    margin-bottom: 10px;
}

.review-card {
    background-color: #501f3a;
}

.review-buttons {
    margin-bottom: 10px;
}

/* selected game title */ 

.rating {
    font-size: 18pt;
}

.review-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/* titles */ 

.titles-card {
    height: 600px;
}

