@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

/*general*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F292F;
}

h1, h2, h3, h4, p {
    color: #cccccc;
}

/* navbar */ 

.nav-wrapper{
    background-color: #14A098;
    padding-left: 1rem;
}

.sidenav {
    background-color: #14A098;
}

.brand-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #cccccc !important;
}

.nav-links {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}