{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">Add Title</h2>

    <div class="row">
        <form class="col s12" method ="POST" action="{{ url_for('add_game_title') }}">
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="title_name" name="title_name" minlength="5" maxlength="100" type="text" class="validate" required>
                    <label for="title_name">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="image_url" name="image_url" minlength="5" maxlength="100" type="text" class="validate">
                    <label for="imgae_url">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <textarea id="textarea1" class="materialize-textarea" minlength="20" maxlength="500" required></textarea>
                    <label for="textarea1">Textarea</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m3 offset-m3">
                    <select multiple required>
                      <option value="" disabled selected>Avalibe on</option>
                      <option value="1">PS</option>
                      <option value="2">X-box</option>
                      <option value="3">PC</option>
                      <option value="3">Other</option>
                    </select>
                    <label>Consoles</label>
                  </div>    
            </div>
            <div class="row">
                <div class="input-field col s12 m3 offset-m3">
                    <select multiple required>
                      <option value="" disabled selected>Online or local co-op</option>
                      <option value="1">Local</option>
                      <option value="2">Online</option>
                    </select>
                    <label>Coop Experience</label>
                  </div>    
            </div>
            <div class="row">
                <div class=" col offset-m3">
                    <button class="btn" type="submit" name="action">Add title
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}