<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="A community based website created for everyone who loves to play co-op video games, share reviews and games with each other and add your own." />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
    <title>Document</title>
</head>


<!-- body -->
<body>

    <!-- header -->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('get_titles') }}" class="brand-logo">
                        <h1 class="green-text logo">CO-OP GR</h1>
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                        <i class="material-icons green-text">dehaze</i></a>
                    <ul class="right hide-on-med-and-down nav-links">
                        <li><a href="{{ url_for('get_titles')}}" class="green-text">Home</a></li>
                        {% if session.user %}
                            <li><a href="{{ url_for('profile')}}" class="green-text">Profile</a></li>
                            <li><a href="{{ url_for('add_game_title')}}" class="green-text">New game title</a></li>
                            <li><a href="{{ url_for('log_out')}}" class="green-text">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('log_in')}}" class="green-text">Log In</a></li>
                            <li><a href="{{ url_for('register')}}" class="green-text">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav green-text" id="mobile-demo">
            <li><a href="{{ url_for('get_titles')}}">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile')}}">Profile</a></li>
                <li><a href="{{ url_for('add_game_title')}}">New game title</a></li>
                <li><a href="{{ url_for('log_out')}}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('log_in')}}">Log In</a></li>
                <li><a href="{{ url_for('register')}}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    <!-- flash messages -->
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <div class="flash-messages col s12 m6 offset-m3">
                            <h4 class="center-align">{{ message }}</h4>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- main -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h3 class="green-text">About</h3>
                    <p class="green-text">This is a plattform for everyone who likes to play co-op vido games, weather
                        you want to
                        share a review on a game you played or mayby see what other players thinks about a game to help
                        you decide which game you should play togehter with someone else next.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <p class="social-text"><strong>Follow us on our social channels</strong></p>
                    <a target="_blank" href="https://www.facebook.com/" rel="noreferrer">
                        <i class="fab fa-facebook-square social-icon" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/" rel="noreferrer">
                        <i class="fab fa-instagram social-icon" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container green-text">
                © 2021 Maria Lundgren. All rights reserved.
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>