{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <h2>{{ username.username }}'s Profile</h2>
                
                <a href="{{ url_for('edit_profile') }}" class="btn" >Edit Profile</a>
            </div>
        </div>
    </div>

    <h2>Game titles</h2>
    <!-- Game titles added by user-->
    {% for title in titles %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            {% if session.user|lower == title.created_by|lower %}
            <div class="card">
                <div class="card-image">
                    <img src="{{ title.image_url }}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ title.title_name }}</span>
                    <p>{{ title.description }}</p>
                    <p>{{ title.title_rating }}</p>
                    {% for console in title.consoles %}
                        <p>{{ console }}</p>
                    {% endfor %}
                    {% for local_online in title.local_or_online %}
                        <p>{{ local_online }}</p>
                    {% endfor %}
                </div>
                <a href="{{ url_for('edit_game_title', title_id=title._id)}}" class="btn" >Edit</a>
                <a href="{{ url_for('delete_game_title', title_id=title._id) }}" class="btn" >Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <h2>Reviews</h2>
    <!-- Reviews added by user-->
    {% for review in reviews %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            {% if session.user|lower == review.created_by|lower %}
                    <div class="card">
                        <div class="card-content">
                            <p>{{ review.review }}</p>
                            <p>{{ review.rating }}</p>
                        </div>
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn" >Edit</a>
                        <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn" >Delete</a>
                    </div>
            {% endif %}
        </div>    
    </div>
    {% endfor %}

{% endblock %}
