{% extends "base.html" %}
{% block content %}

    <!-- users profile -->
    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">
            <div class="card center-align profile-card">
                <h2 class="username">{{ username.username }}'s Profile</h2>
                <div class="img-circl row cecenter-align">
                <img src="{{ username.profile_image_url }}">
                </div>
                <p>Favourite Game: {{ username.favourite_game }}</p>
                <a href="{{ url_for('edit_profile') }}" class="btn green-button edit-button">
                    Edit Profile
                </a>
            </div>
        </div>
    </div>

    <!-- Game titles added by user-->
    <h2 class="center-align">Game titles</h2>
    <div class="row">
        <div class="offset">
        {% for title in titles %}
        {% if session.user|lower == title.created_by|lower %}
        <div class="col s12 m6 xl4">
            <a href="{{ url_for('selected_game_title', title_id=title._id) }}">
                <div class="card title-card title-cards hoverable">
                    <div class="card-image">
                        <img src="{{ title.image_url }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ title.title_name }}</span>
                        <p>{{ title.title_rating }}</p>
                        <div>
                            <p class="inline-elements">Consoles:</p>
                            {% for console in title.consoles %}
                            <p class="inline-elements">{{ console }}</p>
                            {% endfor %}
                        </div>
                        <div>
                            <p class="inline-elements">Co-op type:</p>
                            {% for co_op_type in title.co_op_type %}
                            <p class="inline-elements">{{ co_op_type }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="center-align">
                        <a href="{{ url_for('edit_game_title', title_id=title._id)}}"
                            class="btn green-button title-buttons">Edit
                        </a>
                        <a href="{{ url_for('delete_game_title', title_id=title._id) }}"
                            class="btn pink-button title-buttons">Delete
                        </a>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>

    <!-- Reviews added by user-->
    <h2 class="center-align">Reviews</h2>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            {% for review in reviews %}
                {% if session.user|lower == review.created_by|lower %}
                <div class="card review-card">
                    <div class="card-content">
                        <p>Review: {{ review.review }}</p>
                            <p><i class="material-icons inline-elements">star</i> {{ review.rating }}</p>
                            <p>Created by: {{ review.created_by }}</p>
                        <div class="center-align">
                            <a href="{{ url_for('edit_review', review_id=review._id) }}"
                                class="btn green-button review-buttons">Edit
                            </a>
                            <a href="{{ url_for('delete_review', review_id=review._id) }}"
                                class="btn pink-button review-buttons">Delete
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
