{% extends "base.html" %}
{% block content %}

    <!-- register form -->
    <h2 class="col center-align">Register</h2>
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel register-card">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="material-icons prefix">person_add</i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="The username must be between 5-15 characters long and can only contain letters and numbers.""></span>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="material-icons prefix">mail_outline</i>
                        <input id="email" name="email" type="text" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="The username must be between 5-15 characters long and can only contain letters and numbers."></span>
                    </div>
                </div>
                <!-- Register button -->
                <div class="row center-align">
                    <button class="btn green-button" type="submit" name="action">Register
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}